/* @import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&display=swap");

/* Variables for easy customization */
/* :root {
  --primary-font: "Boldonse", sans-serif;
  --secondary-font: "Bodoni Moda", serif;
}  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: white;
  overflow-x: hidden;
  width: auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700 !important;
  /* font-family: var(--primary-font) !important; */

}

h3 {
  font-size: 2.4rem;
  font-weight: 600 !important;
  margin-bottom: 1.5rem;
  /* font-family: var(--primary-font) !; */

}

h4 {
  font-size: 1.2rem !important;
  font-weight: 600;
}

p {
  font-weight: 400;
}

section {
  padding: 3% 5%;
}

nav {
  background-color: black;
  width: 100%;
  top: 0;
  left: 0;
}

nav img {
  display: block;
  margin: auto;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1)), url(./assets/x1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  color: white;
}

.home-content {
  width: 60%;

  p {
    width: 80%;
    margin: 1rem 0;
    margin-bottom: 2rem;
    color: white;
  }
}

.home-btn a {
  background-color: white;
  color: black;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 550;
}

.flex {
  display: flex;
  justify-content: space-between;
  /* align-items: start; */
  flex-direction: row;
}

/*  video clips */

.reels-item {
  overflow-x: scroll;
  padding-bottom: 2rem;
}

.reels h3,
.reels {
  margin-bottom: 1rem !important;
}

.reels p {
  width: 50%;
}

.reels {
  background-color: black;
  color: white;
}

.reels-cont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.link-insta {
  margin: auto;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 140px;
  border-radius: 10px;
  padding: 10px;
}

.link-insta a {
  font-weight: 500;
  display: block;
  /* width: 100px; */
  border-radius: 10px;
  color: black !important;
  width: 140px;
  margin-right: 1rem;
}

.reels-cont a {
  color: white;
}

/*  process */

.process {
  p {
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  h3 {
    margin: 0;
  }
}

.process-item {
  width: 30%;
}

.process-item p {
  width: 80%;
}

.process-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 1rem 0;
}

/* .service-item span{
   font-size: 3rem;
} */

.service-plan {
  background-color: black;
  color: white;
  padding: 5%;
  padding-right: 0%;
}

.service-plan h3 {
  margin: 0;
}

.service-plan p {
  margin-bottom: 3rem;
}

.service {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.service div {
  width: 400px;
}

.service-item {
  background-color: rgba(13, 13, 13, 0.694);
  border: 2px solid rgb(62, 62, 62);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 2rem;
  margin-right: 2rem;
  width: 100%;

  h4 {
    margin-top: 1rem;
    font-size: 2rem !important;
  }
}

.service-flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-top: 1rem;
  align-items: center;
}

.first-service span {
  color: black;
  background-color: #89ffc3;
  border-radius: 5px;
  position: absolute;
}

.first-service {
  background-color: #89ffc22a;
  border: 2px solid #89ffc3;
  margin-left: 10rem;
}

.service-icon {
  width: 30px !important;

  /* margin: 0 !important; */
  img {
    width: 20px !important;
    height: 20px !important;
    margin-top: 5px;
  }
}

.service-content {
  width: 80% !important;
  position: relative !important;
}

.service-item span {
  color: black;
  padding: 0px 5px;
  position: absolute;
  right: 10px;
  font-size: 15px;
  font-weight: 500;
  top: 10px;
}

.first-service span {
  color: black;
  background-color: #89ffc3;
  border-radius: 5px;
  position: absolute;
  font-weight: 600;
}

.first-service {
  background-color: #89ffc22a;
  border: 2px solid #89ffc3;
  margin-left: 10rem;
}

video {
  margin-right: 2rem;
  border-radius: 10px;
  height: 500px;
}

.faq {
  background-color: black;
  color: white;
}

.clients {
  align-items: center;

}

.client-logo {
  display: flex;
}

.client-logo img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 55%;
  margin-left: -1rem;
  border: 2px solid black;
}

.question {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 70px;
  border-bottom: 1px solid rgb(43, 43, 43);
}

.question::after {
  content: "\002B";
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
  font-weight: 300 !important;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.answer {
  padding: 20px 0;
  line-height: 1.5rem;
  width: 80%;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  div {
    width: 35%;
    margin: 2rem;
  }
}

.test-content h4 {
  margin-top: 3rem;
}

.test-content img {
  width: 80px;
  margin-bottom: -1rem;
}

footer {
  background-color: black;
  color: white;
  padding: 5% 5%;
  padding-bottom: 2%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.left {
  position: relative;
  margin-right: 5rem;
}

.footer-item {
  h4 {
    margin-bottom: 1rem;
  }

  a {
    margin-right: 1rem;
    margin-top: 1rem;
    color: grey;

  }

  div {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-bottom: 2rem;
  }
}

.footer-item li {
  list-style: none;
  color: grey;
  margin-bottom: 1rem;
}

.copyright {
  overflow-y: hidden;
  background-color: black;
  height: 20px;
  text-align: right;

  a {
    color: white;

  }
}

/* .question.active+.answercont {} */

@media screen and (max-width: 640px) {

  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  section {
    padding: 1rem;
  }

  .home-content {
    width: 100%;

    p {
      width: 90%;
    }
  }

  .reels {
    padding-right: 0 !important;
  }

  .reels p {
    width: 100%;
  }

  .reels-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .link-insta {
    /* margin-top: 2rem; */
    display: none;
  }

  .reels-item video {
    width: 100%;
  }

  .process {
    p {
      width: 100%;
    }
  }

  .process-cont {
    flex-direction: column;
  }

  .process-item {
    width: 100%;
  }

  .clients{
    text-align: center;
    flex-direction: column;
  }

  .test{
    flex-direction: column;
  }

  .test div{
    text-align: center;
    width: 100%;
    margin: 1rem;
  }

  .service-plan{
    border-radius: 20px;
  }

  .faq{
    padding: 3rem 1rem;
    border-radius: 20px;
  }

  footer{
    border-radius: 20px 20px 0 0;
  }

  .footer{
    flex-direction: column;
  }

  .copyright{
    margin-top: 2rem;
  }

  .copyright a{
    font-weight: 550;
  }

  .question{
    font-size: 2rem;
    width: 80%;
  }
}
  .footer-item {
  h4 {
    margin-bottom: 0rem;
    margin-top: 2rem;
  }
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: black;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: grey;
}